@using BlogFodder.Core.Posts.Models
@using BlogFodder.Core.Plugins.Models
@implements BlogFodder.Core.Plugins.Interfaces.IPluginComponent

<p>Hello</p>

@code {
    [Parameter]
    public Plugin? Plugin { get; set; }
    
    [Parameter]
    public EventCallback<Plugin> SaveAndClose { get; set; }

    protected override void OnInitialized()
    {
        
    }
}
