@using BlogFodder.Core.Posts.Models
@implements BlogFodder.Core.Plugins.Interfaces.IPluginComponent

<p>Hello</p>

@code {
    [Parameter]
    public PostPlugin? PostPlugin { get; set; }
    
    [Parameter]
    public EventCallback<PostPlugin> SaveAndClose { get; set; }

    protected override void OnInitialized()
    {
        
    }
}
