@using BlogFodder.Core.Settings
@using BlogFodder.Core.Settings.Models
@using MediatR
@using Microsoft.Extensions.Options
@using BlogFodder.Core.Settings.Commands
@using Microsoft.Extensions.DependencyInjection

<footer class="bg-secondary-subtle mt-6">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
            <p class="col-md-4 mb-0 text-muted">&copy; @DateTime.Now.Year @Settings.SiteName</p>

            <ul class="nav col-md-4 justify-content-end">
                @foreach (var footerNav in BlogFodderSettings.Value.FrontEnd.SiteNavigation.FooterNav)
                {
                    <li>
                        <a href="@footerNav.Link" class="nav-link px-2 text-muted">@footerNav.Link</a>
                    </li>
                }
            </ul>
        </footer>
    </div>
</footer>

@code{

    [Inject] IOptions<BlogFodderSettings> BlogFodderSettings { get; set; } = default!;
    [Inject] public IServiceProvider ServiceProvider { get; set; } = default!;
    private SiteSettings Settings { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        using var scope = ServiceProvider.CreateScope();
        var mediatr = scope.ServiceProvider.GetRequiredService<IMediator>();
        Settings = await mediatr.Send(new GetSiteSettingsCommand()).ConfigureAwait(false);
    }

}