@using BlogFodder.Core.Shared.Models
@using BlogFodder.Core.Posts.Models
@using BlogFodder.Core.Plugins
@using BlogFodder.Core.Settings
@using Microsoft.Extensions.Options

<div class="container my-4">
    <div class="row g-4">
        @foreach (var post in Posts.Items)
        {
            <div class="col-sm-4">
                @ExtensionManager.CreateComponent(PostListItemComponent, new Dictionary<string, object>
                {
                    {"Post", post}
                })
            </div>
        }
    </div>
</div>


@code {

    [Inject]
    public ExtensionManager ExtensionManager { get; set; } = default!;

    [Inject]
    IOptions<BlogFodderSettings> Settings { get; set; } = default!;

    [Parameter]
    public PaginatedList<Post> Posts { get; set; } = new();

    private string PostListItemComponent { get; set; } = "";

    protected override void OnParametersSet()
    {
        PostListItemComponent = Settings.Value.FrontEnd.PostListItemComponent;
    }

}