@page "/"
@using BlogFodder.Core.Data
@using BlogFodder.Core.Posts.Models
@using Microsoft.EntityFrameworkCore

<PageTitle>BlogFodder</PageTitle>
<HeadContent>
    <meta name="description" content="Get this data from the DB or appSettings?">
</HeadContent>

<p>If you want to edit these posts, go to the <a href="/admin" @onclick="@NavigateToAdmin" @onclick:preventDefault>Admin Section</a></p>

@if (Posts.Any())
{
    <ul style="padding: 15px 0;">
        @foreach (var post in Posts)
        {
            <li style="padding: 15px 0;">
                <a href="/post/@post.Url">
                    @post.Name <br/>
                    @post.Excerpt
                </a>
                <hr/>
            </li>
        }
    </ul>
}
else
{
    <h2>Doh. You haven't created any posts yet</h2>
}


@code
{
    [Inject]
    public BlogFodderDbContext DbContext { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    public List<Post> Posts { get; set; } = new();

    protected override void OnInitialized()
    {
        Posts = DbContext.Posts.AsNoTracking().OrderBy(x => x.DateCreated).ToList();
    }

    void NavigateToAdmin()
    {
        NavigationManager.NavigateTo("/admin", true);
    }
}