@page "/"
@using BlogFodder.Core.Data
@using BlogFodder.Core.Plugins
@using BlogFodder.Core.Posts.Models
@using BlogFodder.Core.Settings
@using BlogFodder.Core.Shared.Models
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Options

<PageTitle>BlogFodder</PageTitle>
<HeadContent>
    <meta name="description" content="Get this data from the DB or appSettings?">
</HeadContent>


<p>If you want to edit these posts, go to the <a href="/admin" @onclick="@NavigateToAdmin" @onclick:preventDefault>Admin Section</a></p>


@ExtensionManager.CreateComponent(PostListComponent, new Dictionary<string, object>
{
    {"Posts", Posts}
})


@code
{
    [Inject]
    public BlogFodderDbContext DbContext { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;
    
    [Inject]
    public ExtensionManager ExtensionManager { get; set; } = default!;
    
    [Inject]
    IOptionsSnapshot<BlogFodderSettings> Settings { get; set; } = default!;

    public PaginatedList<Post> Posts { get; set; } = new();

    private string PostListComponent { get; set; } = ""; 

    protected override void OnInitialized()
    {
        //TODO - This will be via a service/Mediatr
        var count = DbContext.Posts.AsNoTracking().Count();
        Posts = new PaginatedList<Post>(DbContext.Posts.AsNoTracking().OrderBy(x => x.DateCreated), count,1,18);
    }

    protected override void OnParametersSet()
    {
        PostListComponent = Settings.Value.FrontEnd.PostListComponent!;
    }

    void NavigateToAdmin()
    {
        NavigationManager.NavigateTo("/admin", true);
    }
}