@page "/"
@using BlogFodder.Core.Plugins
@using BlogFodder.Core.Plugins.Interfaces
@using System.Text.Json
@inject ExtensionManager ExtensionManager;

<PageTitle>Index</PageTitle>
<HeadContent>
    <meta name="description" content="meta data to go here">
</HeadContent>

<SideBar>
    
</SideBar>

<p>This is currently blank as I'm working in the plugin system for the <a href="/admin">Admin Section</a></p>

<p>TODO Just list posts here as example of getting data and rendering content</p>
