@page "/c/{Slug}"
@using BlogFodder.Core.Extensions
@using BlogFodder.Core.Plugins
@using BlogFodder.Core.Posts.Models
@using BlogFodder.Core.Categories.Models
@using BlogFodder.Core.Posts.Commands
@using BlogFodder.Core.Settings
@using BlogFodder.Core.Settings.Commands
@using BlogFodder.Core.Settings.Models
@using BlogFodder.Core.Shared.Models
@using MediatR
@using Microsoft.Extensions.Options
@using BlogFodder.Core.Categories.Commands

<PageTitle>@Category.PageTitle</PageTitle>
<HeadContent>
    <meta name="description" content="@Category.MetaDescription">
    @if (Category.NoIndex)
    {
        <meta name="robots" content="noindex">
    }
</HeadContent>

@if (CanBeFound)
{
    if (Posts.Items.Any())
    {
        @ExtensionManager.CreateComponent(PostListComponent, new Dictionary<string, object>
        {
            {"Posts", Posts}
        })

        @ExtensionManager.CreateComponent(PaginationComponent, new Dictionary<string, object>
        {
            {"CurrentPage", Posts.PageIndex + 1},
            {"PageCount", Posts.TotalPages},
            {
                "OnPageChanged", new Func<int, Task>(async e =>
                {
                    CurrentPage = e;
                    await GetPosts();
                })
            },
            {"ShowFirstLast", false},
            {"ShowPageNumbers", true},
            {"VisiblePages", 8},
            {"FirstText", "First"},
            {"LastText", "Last"}
        })
    }
    else
    {
        <p>There are no posts in this category</p>
    }
}
else
{
    <h1>Unable to find the category by the url</h1>
    <p>Need to make this return a 404!</p>
}

@code {

    [Parameter]
    public string? Slug { get; set; }

    [Inject]
    public IServiceProvider ServiceProvider { get; set; } = default!;

    [Inject]
    public ExtensionManager ExtensionManager { get; set; } = default!;

    [Inject]
    IOptions<BlogFodderSettings> BlogFodderSettings { get; set; } = default!;

    private Category Category { get; set; } = new();
    private PaginatedList<Post> Posts { get; set; } = new();
    private bool CanBeFound { get; set; }
    private string PostListComponent { get; set; } = "";
    private string PaginationComponent { get; set; } = "";
    private SiteSettings Settings { get; set; } = default!;
    private int CurrentPage { get; set; } = 1;
    private int PostsPerPage { get; set; } = 10;
    private string? _currentSlug;
    
    private async Task InitializeAsync()
    {
        using var scope = ServiceProvider.CreateScope();
        var mediatr = scope.ServiceProvider.GetRequiredService<IMediator>();
        var category = await mediatr.Send(new GetCategoryCommand {Url = Slug}).ConfigureAwait(false);
        if (category != null)
        {
            CanBeFound = true;
            Category = category;
            PostsPerPage = category.PostsPerPage > 0 ? category.PostsPerPage : 10;
            Settings = await mediatr.Send(new GetSiteSettingsCommand()).ConfigureAwait(false);
            await GetPosts(mediatr);
        }
    }

    private async Task GetPosts(IMediator? mediatr = null)
    {
        var postsQuery = new GetPostsCommand(Settings)
        {
            PageIndex = CurrentPage,
            AmountPerPage = PostsPerPage,
            OrderBy = GetPostsOrderBy.DateUpdatedDescending
        };
        postsQuery.CategoryIds.Add(Category.Id);
        if (mediatr == null)
        {
            using var scope = ServiceProvider.CreateScope();
            mediatr = scope.ServiceProvider.GetRequiredService<IMediator>();
        }
        Posts = await mediatr.Send(postsQuery).ConfigureAwait(false);

        StateHasChanged();
    }

    protected override void OnParametersSet()
    {
        PostListComponent = BlogFodderSettings.Value.FrontEnd.PostListComponent!;
        PaginationComponent = BlogFodderSettings.Value.FrontEnd.PaginationComponent!;
        if (_currentSlug != Slug && !Slug.IsNullOrWhiteSpace())
        {
            _currentSlug = Slug;
            _ = InitializeAsync();
        }
    }

}