@using BlogFodder.Core.Plugins.Models
@using BlogFodder.Core.Extensions
@implements BlogFodder.Core.Plugins.Interfaces.IPluginContentComponent

@if (PostContentModel.PluginSettings?.Enabled == true)
{
    <div class="card mb-4">
        @if (PostContentModel.PluginSettings?.AboutBoxImageUrl.IsNullOrWhiteSpace() == false)
        {
            <img src="@PostContentModel.PluginSettings?.AboutBoxImageUrl?width=@(PostContentModel.PluginSettings?.AboutBoxImageWidth)&height=@(PostContentModel.PluginSettings?.AboutBoxImageHeight)&mode=crop" 
                 class="card-img-top" alt="@PostContentModel.PluginSettings?.AboutBoxTitle">   
        }
        <div class="card-body">
            <h5 class="card-title">@PostContentModel.PluginSettings?.AboutBoxTitle</h5>
            <p class="card-text">@PostContentModel.PluginSettings?.AboutBoxText</p>
        </div>
    </div>
}

@code {
    [Parameter] public string? Model { get; set; }
    [Parameter] public string? Settings { get; set; }
    [Parameter] public Guid? PostId { get; set; }

    private PluginContentModel<string?, PostSideBarSettingsModel> PostContentModel { get; set; } = new();
    
    protected override void OnInitialized()
    {
        PostContentModel = new PluginContentModel<string?, PostSideBarSettingsModel>(Model, Settings);
    }
}
