@implements BlogFodder.Core.Plugins.Interfaces.IPluginContentComponent

<p>Hello World</p>

@code {
    [Parameter]public string? Model { get; set; }
    [Parameter]public string? Settings { get; set; }
    [Parameter]public string? GlobalSettings { get; set; }
}
