.rowpointer {cursor: pointer !important;}

.ql-editor p,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
    margin: 1em 0 !important;
}

.ql-editor ol,
.ql-editor ul {
    margin: 1em 0 !important;
    padding-left: 1em !important;
}