@page "/admin/membership/roles"
@layout AdminLayout
@using BlogFodder.Core.Data
@using Microsoft.EntityFrameworkCore
@using BlogFodder.Core.Membership.Models
@using BlogFodder.Plugins.Admin.Membership.Dialogs
@using Microsoft.Extensions.DependencyInjection
<PageTitle>Manage Roles</PageTitle>

<div class="d-flex justify-end mb-3">
    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="@(() => OpenEditRoleDialog(null))">Create Role</MudButton>
</div>

<MudTable Items="@AllRoles" Hover="true" OnRowClick="RowClickEvent" T="Role" RowClass="rowpointer">
    <HeaderContent>
        <MudTh>Role Name</MudTh>
        <MudTh>Delete</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Role Name">@context.Name</MudTd>
        <MudTd DataLabel="Delete">
            <MudButton Color="Color.Primary" OnClick="@(() => DeleteRole(context))">Delete</MudButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code {
    
    [Inject] public NavigationManager NavigationManager { get; set; } = default!;
    [Inject] private ISnackbar Snackbar { get; set; } = default!;
    [Inject] private IDialogService DialogService { get; set; } = default!;
    [Inject] public IServiceProvider ServiceProvider { get; set; } = default!;
    
    private List<Role> AllRoles { get; set; } = new();
    private readonly DialogOptions _defaultDialogOptions = new() {MaxWidth = MaxWidth.Large, FullWidth = true};

    protected override void OnInitialized()
    {
        using var scope = ServiceProvider.CreateScope();
        var dbContext = scope.ServiceProvider.GetService<BlogFodderDbContext>();
        SetRoles(dbContext);
    }

    private async Task DeleteRole(Role role)
    {
        using var scope = ServiceProvider.CreateScope();
        var dbContext = scope.ServiceProvider.GetService<BlogFodderDbContext>();
        
        var dialogResult = await DialogService.ShowMessageBox(
            "Warning", 
            "Once you click delete the role is gone", 
            yesText:"Delete", cancelText:"Cancel");

        if (dialogResult == false) return; // The user cancelled the action
        
        try
        {
            // Remove the role from all users
            var userRoles = dbContext.UserRoles.Where(ur => ur.RoleId == role.Id);
            dbContext.UserRoles.RemoveRange(userRoles);
            await dbContext.SaveChangesAsync();

            // Delete the role itself
            dbContext.Roles.Remove(role);
            await dbContext.SaveChangesAsync();

            Snackbar.Add($"Role {role.Name} deleted successfully", Severity.Success);
        }
        catch (Exception ex)
        {
            Snackbar.Add("An error occurred while trying to delete the role: " + ex.Message, Severity.Error);
        }

        SetRoles(dbContext); // Refresh the roles list
    }

    private void SetRoles(BlogFodderDbContext dbContext)
    {
        AllRoles = dbContext.Roles.AsNoTracking().OrderBy(x => x.Name).ToList();
    }
    
    private async Task RowClickEvent(TableRowClickEventArgs<Role> tableRowClickEventArgs)
    {
        await OpenEditRoleDialog(tableRowClickEventArgs.Item);
    }

    private async Task OpenEditRoleDialog(Role? role)
    {
        var parameters = new DialogParameters
        {
            {"Role", role}
        };
        
        var dialog = await DialogService.ShowAsync<EditRole>($"Edit {role?.Name}", parameters, _defaultDialogOptions);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            using var scope = ServiceProvider.CreateScope();
            var dbContext = scope.ServiceProvider.GetService<BlogFodderDbContext>();
            SetRoles(dbContext);
            //StateHasChanged();
        }
    }
}
