@using Markdig
@using BlogFodder.Core.Extensions
@using System.Text.Json
@implements BlogFodder.Core.Plugins.Interfaces.IEditorPluginContentComponent

@if (Model != null)
{
    <div class="@((MarkupString)EditorSettings.PaddingMargin())">
        @((MarkupString)Markdown.ToHtml(Model))
    </div>   
}

@code {
    [Parameter] public string? Model { get; set; }
    [Parameter] public string? Settings { get; set; }
    private MarkdownEditorSettings EditorSettings { get; set; } = new();
    protected override void OnInitialized()
    {
        if (!Settings.IsNullOrWhiteSpace())
        {
            EditorSettings = JsonSerializer.Deserialize<MarkdownEditorSettings>(Settings) ?? new MarkdownEditorSettings();
        }
    }

}