@page "/admin/richtexteditorsettings"
@layout AdminLayout
<PageTitle>RTE Editor Settings</PageTitle>
<HeadContent>
    <meta name="description" content="RTE Editor">
    @* This is where we could sort the CSS per page? *@
</HeadContent>
<h3>Rich Text Settings Component</h3>

@code {
    
}