@page
@using BlogFodder.Core.Extensions
@model BlogFodder.App.Pages.Account.ForgotPasswordModel
@{
    Layout = "Shared/_Layout";
}
@section Head {
    <title>Forgot Password</title>
}

<div class="d-flex flex-column justify-content-center py-5 bg-light min-vh-100">
    <div class="mx-auto w-100" style="max-width: 28rem;">
        <div class="text-center">
            @if (Model.Settings?.LogoId == null)
            {
                <img src="/img/at.svg" class="text-primary" alt="@Model.Settings?.SiteName Logo" width="50" height="50">
            }
            else
            {
                <img src="@Model.Settings.Logo!.Url?width=50" alt="@Model.Settings.SiteName Logo" width="50" height="50">   
            }
        </div>
        <h3 class="mt-4 text-center">
            Forgot password
        </h3>
    </div>

    <div class="mt-3 mx-auto w-100" style="max-width: 28rem;">
        <div class="bg-white p-5 shadow rounded">
            <form class="gy-3" method="post">
                <div asp-validation-summary="All" class="text-danger fw-bold small">
                    @if (Model.Result.Success)
                    {
                        @foreach (var successMessage in Model.Result.Messages.SuccessMessages())
                        {
                            <p class="font-medium text-green-400 text-base text-center">@Html.Raw(successMessage.Message)</p>   
                        }
                    }
                </div>
                <div class="mb-3">
                    <label asp-for="ForgotPasswordCommand.Email" class="form-label"></label>
                    <input asp-for="ForgotPasswordCommand.Email" autocomplete="email" aria-required="true" class="form-control shadow-sm"/>
                    <span asp-validation-for="ForgotPasswordCommand.Email" class="text-danger small"></span>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary w-100 d-flex justify-content-center py-2 px-4 rounded shadow-sm">
                        Confirm Email
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScripts" />
}


